<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <style>
        body{
          text-align: center;
        background-color: aliceblue; 
        }
        p{
            size: 20px;
            padding:10px;
            border: 60px;
            font-size: 20px;
            text-align: left;
        }
        img{
            float: left;
        }
        h2{
            text-align: left;  
        }
    </style>
</head>
<body>
    <div>
        <header>
            <h1>About Us</h1>
        </header>
    </div>
    <img src="https://img.freepik.com/free-photo/beautiful-young-female-doctor-looking-camera-office_1301-7807.jpg?w=2000" width="350" height="350">
    <p>Vision</p>
<p>To provide each patient with the world-class care, exceptional service and compassion we would want for our loved ones and To Lead the evolution of healthcare to enable every member of the communities we serve to enjoy a better, healthier life.</p>

<p>Mission</p>
<p>The mission of India Hospital is to provide quality health services and facilities for the community, to promote wellness, to relieve suffering, and to restore health as swiftly, safely, and humanely as it can be done, consistent with the best service we can give at the highest value for all concerned.</p>
    <footer>
        <h2></h2>
        <br>
        <br>
        <h2>contact us</h2>
        <p>+91987654321</p>
        <p>aimhospital@gmail.com</p>
        &copy; hospitalmanagement
    </footer>
</body>
</html>